@import './colorsAndFonts.scss';


.aboutUsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);

	h1{
		position: relative;
		margin-top: 1vh;
	}


	h2{
		margin: 30vh 0 5vh  ;
		position: relative;
	}
	
	p {
		font-family: $fontOfBody;
		width: 70%;
		text-align: center;
		position: relative;
	}

	
	.team {
		height: 10vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 10vh;
		justify-content: space-evenly;

		.imageDiv {
			margin-top: 1vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 20vw;

			$pictureWidth: 25vw;
			$pictureHeight: 25vh;
			$backgroundSize: 25vw;

			#profilePic {
				// background-image: url('../assets/image0.png');
				height: 20vh;
				width: 20vh;
				border-radius: 50%;
				background-repeat: no-repeat;
			}
		}
		.contactIcons {
			display: flex;
			gap: 1vh;
			#linkedin {
				background-size: 3vh;
				width: 3vh;
				height: 3vh;
				border: none;
				background-color: transparent;
				cursor: pointer;
			}
			#github {
				background-size: 3vh;
				width: 3vh;
				height: 3vh;
				border: none;
				background-color: transparent;
				cursor: pointer;
			}
		}
	}
}


