@use "LandingPage";
@use "StaticPages";
@import './colorsAndFonts.scss';


body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.824), rgba(0, 0, 0, 0.598));
  margin: 10%;
  font-family: $fontOfBody;

}

.graphD3 {
  height: 100%;
  width: 100%;
}

#container {
  width: 100%;
  height: 100%;
}
.resolverText {
  margin-top: 4%;
}

.resolvers {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: pink;
}

.hljs{
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  // font-family: montserrat, sans-serif;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.loginApp {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565a;
}



// .form-box{
//   width: 380px;
//   min-height: 480px;
//   position: relative;
//   margin: 6% auto;
//   background: rgba(255, 255, 255, 0.687);
//   padding: 5px;
//   border-radius: 10px;
//   border: solid 2px #df29df;
//   box-shadow: 1px 3px 10px #2583b6;
// }

#login-logo{
  width: 70%;
  padding-top: 20px;
  margin: auto;
  display: block;
}

.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px rgb(248, 218, 223);
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #df29df;
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  top: 180;
  left: 50px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #df29df;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: white
}

.check-box{
  margin: 30px 10px 30px 0;
}


button {
  background-color: white;
}

.node__root > circle {
  fill: #1976d2;
}

.node__branch > circle {
  fill: #1976d2;
}

.node__leaf > circle {
  fill: #1976d2;
}


.navAppBar{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.824), rgba(160, 6, 160, 0.598));
  border-radius: 5px;
}

.enterUri{
  h2 {
    font-size: 29px;
    font-weight: lighter;
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    margin:0;
    margin-right: 42px;
  }
button {
    margin:0;
    font-size: 2vh;
    margin-top: 1%; 
    margin-left: 45%;
    width: 10%;
    display: inline-block;
    vertical-align:left;
}
}

